html, body {
  font-family: var(--font-overall);
  margin: 0px;
}

#header-bar, #signup {
  background-color: var(--dark-background-color);
}

#header-bar, #signup {
  padding: 1% 14%;
}

.flex-nav {
  display: flex;
  width: 100%;
  gap: 2%;
}

.flex-signup {
  display: flex;
  width: 100%;
  gap: 5%;
  justify-content: space-between;
}

.link-item {
  float: right;
}

.signup-maintext {
  font-size: var(--hero-main-text-size);
  color: var(--hero-main-text-color);
  font-weight: var(--hero-main-text-weight);
}

.signup-subtext, .link-item {
  font-size: var(--secondary-text-size);
  color: var(--secondary-text-color);
}

#header-bar h2{
  font-size: var(--header-logo-text-size);
  color: var(--header-logo-text-color);
  margin: 0px;
  flex: 1 1 50%;
}

/*Tied button color to the cte background via variables,
but left them in separate selectors since they will likely 
be used for other styles*/
#cte {
  background-color: var(--btn-color)
}

button {
  background-color: var(--cta-background-color);
  padding: 6px 0px;
  color: white;
  border-radius: 7px;
  width: 100px;
  font-weight: 600;
  margin-top: 20px;
}

#information h2{
  font-size: var(--info-header-text-size);
  color: var(--info-header-text-color);
  font-weight: var(--info-header-text-weight);
}

#quote {
  background-color: var(--quote-section-background-color);
}

.quote-text {
  font-size: var(--quote-text-size);
  font-weight: var(--quote-text-weight);
  color: var(--quote-text-color);
}

/* Creating variables to keep better track of given style constraints*/
:root {
  --dark-background-color: #1F2937;
  --font-overall: Roboto, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  --hero-main-text-size: 48px;
  --hero-main-text-color: #F9FAF8;
  --hero-main-text-weight: 900;
  --secondary-text-size: 18px;
  --secondary-text-color: #E5E7EB;
  --header-logo-text-size: 24px;
  --header-logo-text-color: #F9FAF8;
  --cta-background-color: #3882F6;
  --btn-color: var(--cta-background-color);
  --info-header-text-size: 36px;
  --info-header-text-color: #1F2937;
  --info-header-text-weight: 900;
  --quote-section-background-color: #E5E7EB;
  --quote-text-size: 36px;
  /*They say light, I assume they mean lighter font weight*/
  --quote-text-weight: lighter;
  --quote-text-color: #1F2937;
}